@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gistsev Maksym<br />
    KHAI, A503<br />
    <abbr title="Phone">P:</abbr>
    +380508661454
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">maxim.m.giscev@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">maxim.m.giscev@gmail.com</a>
</address>