h2 {
    margin-top: 80px;
    text-align: center;
}

.all {
    background: #d3d3d3;
    width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #313131;
    margin-left: 150px;
    padding: 20px;
    height: auto;
}

.kind_amount {
    margin-left: 250px;  
}

.amount {
    margin-left: 170px;
    margin-top: -40px;
}

.name_event {
    background: #00008b;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 20px 10px 0 165px;

    /*margin-left: 250px;*/
}

.count_event {
    margin-left: 450px;
    margin-top: -35px;
    background: #d3d3d3;
    width: 30px;
    border: 2px solid #00008b;
    border-radius: 120%;
    text-align: center; 
}

