h2 {
    margin-top: 80px;
    text-align: center;
}

.all_event {
    background: #d3d3d3;
    width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #313131;
    margin-left: 150px;
    padding: 20px;
    height: auto;
}

.create_event {
    position: absolute;
    margin-left: 160px;
}

.event_descr {
    background: #cac9c9;
    width: 500px;
    margin-left: 100px;
    padding: 10px;
    text-align: justify;
}

.event_delete {
    background: #6495ED;
    width: 70px;
    margin-left: 530px;
    text-align: center;
}

.event_delete:hover {background: #800000;}

.title {
    font: italic 30px bold Georgia, "Times new Roman", "Arial";
}

.description {
    font: 20px bold Georgia, "Times new Roman", "Arial";
}